<h1 class="animated fadeIn fast">Sobre Comic App</h1>
<hr>
<p class="animated fadeIn">
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quis ad, dolore tempora culpa itaque non pariatur laboriosam sed ratione aperiam vitae cum distinctio eaque incidunt magni totam sapiente. Ad, Lorem ipsum dolor sit amet consectetur adipisicing
    elit. Vero, sint! Commodi aliquam ea veritatis quia velit quas voluptas quibusdam similique hic, officia eos exercitationem vitae et dignissimos repellat deserunt soluta?
</p>